body{
	background-color: rgb(255, 255, 255);

}
.container {
margin-right: auto; /* 1 */
margin-left:  auto; /* 1 */
margin-bottom:  auto; /* 1 */

max-width: 960px; /* 2 */

padding-right: 10px; /* 3 */
padding-left:  10px; /* 3 */
padding-top:  50px; /* 3 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.btnTd{
	text-align: right;
}

  
.modal { 
	display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-wait span, .dialog-header-wait h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }